Content generator/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Content Generator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter Topic",
              "placeholder": "Enter the title",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter email id",
              "fieldType": "email",
              "placeholder": "Enter your mail id",
              "requiredField": true
            },
            {
              "fieldLabel": "Language",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Tamil"
                  },
                  {
                    "option": "English"
                  },
                  {
                    "option": "German"
                  },
                  {
                    "option": "French"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Audience",
              "placeholder": "Audience",
              "requiredField": true
            },
            {
              "fieldLabel": "Content Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Article"
                  },
                  {
                    "option": "Blog"
                  },
                  {
                    "option": "Ad copy"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Tone",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Professional"
                  },
                  {
                    "option": "Casual"
                  },
                  {
                    "option": "Fun"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Length",
              "placeholder": "Length",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -144,
        32
      ],
      "id": "be154ed7-6664-4011-bb67-834795643563",
      "name": "On form submission",
      "webhookId": "3d1b2dbe-02ad-4d12-9709-c718b83819ee"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Language }}",
                    "rightValue": "English",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4f77766c-c238-4f08-b32d-c6173fb837dc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d477c997-eabe-4092-b640-a224b3980287",
                    "leftValue": "={{ $json.Language }}",
                    "rightValue": "Tamil",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d4d41e7-5a3a-4031-ba30-99a220c0d11d",
                    "leftValue": "={{ $json.Language }}",
                    "rightValue": "German",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d0bce87-78ca-4b44-8eaf-8e24ccc3ffce",
                    "leftValue": "={{ $json.Language }}",
                    "rightValue": "French",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        48,
        0
      ],
      "id": "0d83c279-ecf4-4dd5-a3f0-97989cf8c721",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-01-21",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        -176
      ],
      "id": "eb122128-d678-4e13-bc8f-c1afa847eef2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8zUlVuTgoQDntD6t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        272
      ],
      "id": "d8f86f90-b82b-449a-98d9-ac7bc42282fc",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "8zUlVuTgoQDntD6t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Enter email id'] }}",
        "subject": "Your Generated content",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -272
      ],
      "id": "bd72afb5-a3c5-45a6-ae9a-778139777a56",
      "name": "Send a message",
      "webhookId": "64ddb959-b6e8-4d0f-bf8a-7ff811232959",
      "credentials": {
        "gmailOAuth2": {
          "id": "3KK9liuxhb3vhWfY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Enter email id'] }}",
        "subject": "உங்கள் உருவாக்கப்பட்ட உள்ளடக்கம்.",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        -64
      ],
      "id": "7d64262c-59fc-4709-a58a-f8ffaa47cd6f",
      "name": "Send a message1",
      "webhookId": "64ddb959-b6e8-4d0f-bf8a-7ff811232959",
      "credentials": {
        "gmailOAuth2": {
          "id": "3KK9liuxhb3vhWfY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Enter email id'] }}",
        "subject": "Ihr erstellter Inhalt.",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        160
      ],
      "id": "b8ff1e93-612d-4655-b3f1-73afb094bba4",
      "name": "Send a message2",
      "webhookId": "64ddb959-b6e8-4d0f-bf8a-7ff811232959",
      "credentials": {
        "gmailOAuth2": {
          "id": "3KK9liuxhb3vhWfY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Enter email id'] }}",
        "subject": "Votre contenu généré.",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        608,
        368
      ],
      "id": "061a8358-97aa-44d7-b73c-cd39a00a66aa",
      "name": "Send a message3",
      "webhookId": "64ddb959-b6e8-4d0f-bf8a-7ff811232959",
      "credentials": {
        "gmailOAuth2": {
          "id": "3KK9liuxhb3vhWfY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        448
      ],
      "id": "760a130d-80e5-4941-a1d2-d6810106ace1",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "8zUlVuTgoQDntD6t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        48
      ],
      "id": "bc009c0d-d3bf-4a73-8057-2711360345c7",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "8zUlVuTgoQDntD6t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional content writer. \nGenerate a {{ $json['Content Type']  }} in English. \n\nDetails: \n- Topic:{{ $json['Enter Topic'] }}  \n- Audience:{{ $json.Audience }}\n- Tone:{{ $json.Tone }}\n- Length: {{ $json.Length }}\n\nRules:  \n- If Article → include introduction, 3–4 main points, and a conclusion.  \n- If Blog → add a catchy title, headings/subheadings, and conclusion.  \n- If Ad Copy → write a headline, persuasive body, and call-to-action.  \n\nMake sure the output is clear, engaging, and easy to read.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        -304
      ],
      "id": "b3ddc5c0-21c8-4d66-be91-2f6be6bcb5e8",
      "name": "English "
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional content writer. \nGenerate a {{ $json['Content Type']  }} in Tamil. \n\nDetails: \n- Topic:{{ $json['Enter Topic'] }}  \n- Audience:{{ $json.Audience }}\n- Tone:{{ $json.Tone }}\n- Length: {{ $json.Length }}\n\nRules:  \n- If Article → include introduction, 3–4 main points, and a conclusion.  \n- If Blog → add a catchy title, headings/subheadings, and conclusion.  \n- If Ad Copy → write a headline, persuasive body, and call-to-action.  \n\nMake sure the output is clear, engaging, and easy to read.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        432,
        -80
      ],
      "id": "8b6d4894-09c6-413e-ba99-14e07257fd80",
      "name": "Tamil"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional content writer. \nGenerate a {{ $json['Content Type']  }} in German. \n\nDetails: \n- Topic:{{ $json['Enter Topic'] }}  \n- Audience:{{ $json.Audience }}\n- Tone:{{ $json.Tone }}\n- Length: {{ $json.Length }}\n\nRules:  \n- If Article → include introduction, 3–4 main points, and a conclusion.  \n- If Blog → add a catchy title, headings/subheadings, and conclusion.  \n- If Ad Copy → write a headline, persuasive body, and call-to-action.  \n\nMake sure the output is clear, engaging, and easy to read.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        128
      ],
      "id": "a57676ef-685e-4b8b-b505-e7c67510842a",
      "name": "German "
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional content writer. \nGenerate a {{ $json['Content Type']  }} in French. \n\nDetails: \n- Topic:{{ $json['Enter Topic'] }}  \n- Audience:{{ $json.Audience }}\n- Tone:{{ $json.Tone }}\n- Length: {{ $json.Length }}\n\nRules:  \n- If Article → include introduction, 3–4 main points, and a conclusion.  \n- If Blog → add a catchy title, headings/subheadings, and conclusion.  \n- If Ad Copy → write a headline, persuasive body, and call-to-action.  \n\nMake sure the output is clear, engaging, and easy to read.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        272
      ],
      "id": "4cd04777-f131-4942-8a57-8d0bb0b002d8",
      "name": "French "
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "English ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tamil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "German ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "French ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "English ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "German ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "French ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Tamil",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "English ": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tamil": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "German ": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "French ": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33e69d50-96ab-4eac-8dbf-af190be41b0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01a6e635dcbf3d7151918f5f4bd873b7fe39c8f38fc6e76406f8d4acc3bcc149"
  },
  "id": "aDSAGgQGGMNuGYi5",
  "tags": []
}